.result-wrap {
    min-height: 100dvh;
    padding: 1.1rem;
}

.indicator {
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial;
    padding: 0 0 1.3rem 0;
}

.result-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100dvh;
    align-items: center;
    gap: 1.3rem;
}

[web-theme="dark"] .result-wrap {
    color: skyblue;
    background-color: rgb(45,45,45);
}